*~
_build/
setup.data
setup.log
configure
*.cmi
*.cmo
*.cmx
*.cma
*.o
*.native
*.byte
doclib.docdir
src/lib/ocamlorg.ml
src/lib/ocamlorg.mli
src/lib/META
src/lib/ocamlorg.mllib
src/lib/doclib.odocl
www/
#*
.#*
html-pages
.DS_Store

